.div-note {
    width: 150px;
    padding: 5px;
    margin: 3px;
    border: solid 3px green;
    border-radius: 5px;
}

.div-list {
    width: 170px;
    padding: 5px;
    border: solid 1px blue;
    border-radius: 5px;
}